<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/reset.css">
</head>
<body>
	<div class="main">
		<div class="header body_container">
			<div class="logo"></div>
			<ul>
				<li>人物列表</li>
				<li>人物通知</li>
				<li>个人信息</li>
			</ul>
			<div class="more"></div>
		</div>

		<div class="info body_container">
			<div class="info_header">
				<input type="text" placeholder="这里有一个icon">
				<div class="your_message">你的消息</div>
			</div>
			<div class="juti">
				<ul>
					<a href=""><li class="huandiao">全部</li></a>
					<a href=""><li>通知</li></a>
					<a href=""><li>审核消息</li></a>
				</ul>
			</div>
			<div class="juti2">
				<div class="xiangqing">
					<div class="touxiang"></div>
					<div class="title">任务管理系统项目组</div>
					<div class="time">2019-04-20 13:35</div>
					<div class="jutia">社区版的pycharm支持django框架...</div>
				</div>
			</div>
			<div class="juti2">
				<div class="xiangqing">
					<div class="touxiang"></div>
					<div class="title">任务管理系统项目组</div>
					<div class="time">2019-04-20 13:35</div>
					<div class="jutia">社区版的pycharm支持django框架...</div>
				</div>
			</div>
			<div class="juti2">
				<div class="xiangqing">
					<div class="touxiang"></div>
					<div class="title">任务管理系统项目组</div>
					<div class="time">2019-04-20 13:35</div>
					<div class="jutia">社区版的pycharm支持django框架...</div>
				</div>
			</div>
			<div class="juti2">
				<div class="xiangqing">
					<div class="touxiang"></div>
					<div class="title">任务管理系统项目组</div>
					<div class="time">2019-04-20 13:35</div>
					<div class="jutia">社区版的pycharm支持django框架...</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>